# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=77d3890f-d507-4853-a159-2ee9e747cfce

    # Set to true to disable all reporting
    B:opt-out=true
}


